{% block title %}panier {% endblock %}
{% extends 'base-page.html.twig' %}
{% set total = 0 %}
{% set subtotal = 0 %}
{% block body %}
<!-- breadcrumb -->
  <br><br>
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="{{path('homepage')}}" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Shoping Cart
			</span>
		</div>
	</div>
	<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				Checkout
    </h3>

	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
									<th class="column-4">Quantity</th>
									<th class="column-5">Total</th>
									<th class="column-5">Remove</th>
								</tr>
								{% if produits | length == 0  %}
								<tr>
								<td colspan="4"><center>No products in the basket</center></td>
								</tr>
								{%  endif %}
                              {% for prd in produits %}

								<tr class="table_row">
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="{{prd.image}}" alt="IMG">
										</div>
									</td>
									<td class="column-2">{{prd.libelle}} 
                                        <p>ID:{{prd.id}}</p>
                                    </td>
									<td class="column-3">{{prd.prix}}</td>
									<td class="column-4">
										<div class="wrap-num-product flex-w m-l-auto m-r-0">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>
                                             
											<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product1"  value="{{panier [prd.id] }}" autocomplete="off" size="2" disabled="" >
                                             
											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>
									</td>
									<td class="column-5">{{prd.prix * panier[prd.id] }}</td>
									<td class="column-6">
									    <div class="rem">
										

										 <a href="{{path('panier_supprimer',{'id' : prd.id})}}" class="close1"> </a> 
										 </div>
									     
								    </td>
									
								</tr>
							{% set subtotal = subtotal + (prd.prix * panier[prd.id]) %}
							{% set total = total + (prd.prix * panier[prd.id]) %}
                              {% endfor %}
								
							</table>
						
						</div>

						<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
							<div class="flex-w flex-m m-r-20 m-tb-5">
								<input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Coupon Code">
									
								<div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
									Apply coupon
								</div>
							</div>
                          
							<div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
								 Update Cart
							</div>
							
						</div>
					</div>
				</div>

				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							Cart Totals
						</h4>
				<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class="mtext-101 cl2">
									Subtotal:
								</span>
								
							</div>

							<div class="size-209 p-t-1">
								<span class="mtext-110 cl2">
								{{ subtotal }}
								</span>
							</div>
							<br><br><br><br>
							<div class="size-208">
								<span class="mtext-101 cl2" >
									TVA (10%):
									
								</span>
								 
							</div>
 
							<div class="size-209 p-t-1">
								<span class="mtext-110 cl2">
									$10
								</span>
							</div>
							<div class="size-208">
								<span class="mtext-101 cl2">
									Frais de transport:
								</span>
								
							</div>

							<div class="size-209 p-t-1">
								<span class="mtext-110 cl2">
									Gratuit
								</span>
							</div>
							
						</div>

						<div class="flex-w flex-t bor12 p-t-15 p-b-30">


							<div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
								
								<div class="p-t-15">
									<div class="flex-w">
										<div class="flex-c-m stext-101 cl2 size-115 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer">
											Update Totals
										</div>
									</div>
										
								</div>
							</div>
						</div>

						<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class="mtext-101 cl2">
									Total:
								</span>
							</div>

							<div class="size-209 p-t-1">
								<span class="mtext-110 cl2">
									{{ total }}
								</span>
							</div>
						</div>
						<a href="{{path('commande_valider')}}" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							Proceed to Checkout
						</a>
						<br>
						<br>
						<a href="" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							Clear the Cart
						</a>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}